<h1 class="text-center">Discover Experiences</h1>

<% @articles.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        
        <div class="article-title text-center">
          <%= link_to article.title, article_path(article) %>
        </div>
        
        <div class="article-body text-left">
          <strong>Country: </strong><%= article.country %><br/>
          <strong>Dive Site(s): </strong><%= article.divesite %><br/>
          <strong>Created by: </strong><%= article.user.username if article.user %>, <small><%= time_ago_in_words(article.created_at) %> ago, last updated <%= time_ago_in_words(article.updated_at) %> ago</small>
        </div>
        
        <div class="article-body text-center">
          <strong>My Experience</strong><br/><%= truncate(article.description, length: 100) %>
        </div>
        
        <!--Action Buttons-->
        <div class="text-right">
          <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-warning" %> |
          <%= link_to "Delete this article", article_path(article), method: :delete, 
                                              data: { confirm: "Are you sure you want to delete this article?" }, 
                                              class: "btn btn-xs btn-danger" %>
        </div>

      </div>
    </div>
  </div>
<% end %>