<div class="col-sm-8 col-sm-offset-2">
  <h1 class="text-center" id="signup-h1">Edit Your Account</h1>
</div>

 <!--Update this to render partial with password placeholder customizations-->

<%= render 'shared/errors', obj: @user %>

<div class="row">
  <div class="col-xs-12">
    
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    
      <!--Username-->
      <div class="form-group">
        <div class="control-label col-sm-3 text-right">
          <%= f.label :username, "Username" %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :username, class: "form-control", placeholder: "ie. scubadood", autofocus: true %>
        </div>
      </div>
      
      <!--Email-->
      <div class="form-group">
        <div class="control-label col-sm-3 text-right">
          <%= f.label :email, "Email" %>
        </div>
        <div class="col-sm-6">
          <%= f.email_field :email, class: "form-control", placeholder: "ie. joe@example.com", autofocus: true %>
        </div>
      </div>
      
      <!--Password-->
      <div class="form-group">
        <div class="control-label col-sm-3 text-right">
          <%= f.label :password, "New Password" %>
        </div>
        <div class="col-sm-6">
          <%= f.password_field :password, class: "form-control", placeholder: "Leave this blank to keep your old password.", autofocus: true %>
        </div>
      </div>
      
      <br/><br/>
      
      <!--Submit Button-->
      <div class="form-group text-center">
        <div class="col-sm-6 col-sm-offset-3">
          <%= f.submit "Update", class: 'btn btn-success btn-lg' %>
        </div>
      </div>
      
    <% end %>
    <div class="col-sm-4">
      <%= link_to "Back to Articles Listing", articles_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>