<h1 class="text-center">All Categories</h1>
<div class="text-center">
  <%= will_paginate %>
  
  <% @categories.each do |category| %>
    <ul class="listing">
      <div class="row">
        <div class="text-center well col-md-4 col-md-offset-4">
          <li class="article-title">
            <%= link_to "#{category.name}", category_path(category) %>
          </li>
          <li>
            <%= pluralize(category.articles.count, "article") %>
          </li>
          <% if logged_in? and current_user.admin? %>
            <br/>
            <li>
              <div class="text-center">
                <%= link_to "Edit this category", edit_category_path(category), class: "btn btn-xs btn-warning" %>
              </div>
            </li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  
  <%= will_paginate %>
</div>